admin:
- 12345678 #管理员，此处写你的账户id或用户名，必须配置该项，否则程序会自动退出
# proxyport: 7890 #此处写端口，用于TGbot的通讯，在国内使用建议配置该项（可选配置）
# proxy: "http://127.0.0.1:7890" # 配置代理，用于获取订阅链接。订阅链接国内打不开可尝试开启（可选配置）
# user: 12345678 #用户列表，/grant 命令授权的目标会保存在这（可选配置）
# clash:
#  path: './clash-linux-amd64' # clash核心的位置（可选配置）
#  workpath: './clash' # clash的工作目录（可选配置）