# 注意，yaml配置文件对缩进敏感，请不要强迫症删掉#号之间的空格
admin:
- 12345678 #管理员，此处写你的账户id或用户名，必须配置该项，否则程序会自动退出
item: # 流媒体测试项，决定你想要测哪个项,目前仅支持以下类型(所有项的值要放在引号里面,第一个字母大写小写都可以，但不能全部大写):
- 'Netflix' # 奈飞测试，最为严格的流媒体平台，具有很大参考价值，默认开启。
- 'Youtube' # Youtube premium测试，如果测试结果显示失败大概率该节点是送中节点，默认开启。
- 'Disney' # Disney Plus 区域限制不明显，观看体验尚佳，默认开启。
#- 'Bilibili' # bilibili解锁， 仅在港澳台或者仅限台湾的番剧，这项测试一般很难看，默认不开启，想开启该项将该行最前面的#号删除即可。
#- 'Dazn' # Dazn 一般测试得很难看，默认不开启，想开启该项将该行最前面的#号删除即可。
#- 'Hbomax'
#- 'Bahamut'
#proxyport: 7890 #此处写你代理软件提供的代理端口，用于TGbot的通讯，在国内使用建议配置该项（可选配置）
#proxy: "host:端口" # 配置代理，用于下载获取订阅链接。订阅链接国内打不开可尝试开启（可选配置）,本机提供的代理可以这样填: '127.0.0.1:7890'
#user: 12345678 #用户列表，/grant 命令授权的目标会保存在这（可选配置）
#clash:
# path: './resources/clash-linux-amd64' # clash核心的位置,此样例为linux-amd64配置样例，windows可以不配置该项（可选配置）
# workpath: './clash' # clash的工作目录，工作目录这里指的是clash读取配置文件的目录，请勿与操作系统上的概念混淆（可选配置）
# 以下是颜色配置，其中speed是速度相关,name为颜色名字，value为颜色值，目前仅支持十六进制，label是颜色对应的速度区间（单位MB）,不用动，只需改value值，其他项是为了做区分。
#color:
# speed: # 刚刚好有七个颜色，多一个少一个可能会有奇怪的效果。注意缩进。如果不想有太多颜色，可以两个颜色取同样的颜色值。
#  - { label: 0, name: '云水', value: '#B4C3D0' }
#  - { label: 1, name: '晴山', value: '#91AEC4' }
#  - { label: 5, name: '秋波', value: '#8BB8CB' }
#  - { label: 10, name: '天韵', value: '#5796B3' }
#  - { label: 20, name: '鸢尾', value: '#1988AE' }
#  - { label: 60, name: '甸子', value: '#238BBC' }
#  - { label: 100, name: '景泰', value: '#2A73AC' }

