aiohttp>=3.8.1
async_timeout>=4.0.2
Pillow==9.5.0
pilmoji>=2.0.1
Pyrogram==2.0.100
PyYAML>=6.0
requests>=2.26.0
tgcrypto>=1.2.3
APScheduler==3.6.3
emoji==1.7.0
loguru>=0.6.0
aiohttp_socks==0.7.1
websockets==10.3
tzlocal==4.1
geoip2==4.6.0
cryptography==40.0.2
lxml==4.9.2