# 注意，yaml配置文件对缩进敏感，请不要强迫症删掉#号之间的空格
admin:
- 12345678 #管理员，此处写你的账户id或用户名，必须配置该项，否则程序会自动退出
item: # 流媒体测试项，决定你想要测哪个项,目前仅支持以下类型(所有项的值要放在引号里面,第一个字母大写小写都可以，但不能全部大写):此配置已被覆盖暂时无法生效
- 'Netflix' # 奈飞测试，最为严格的流媒体平台，具有很大参考价值，默认开启。
- 'Youtube' # Youtube premium测试，如果测试结果显示失败大概率该节点是送中节点，默认开启。
- 'Disney' # Disney Plus 区域限制不明显，观看体验尚佳，默认开启。
#- 'Bilibili' # bilibili解锁， 仅在港澳台或者仅限台湾的番剧，这项测试一般很难看，默认不开启，想开启该项将该行最前面的#号删除即可。
#- 'Dazn' # Dazn 一般测试得很难看，默认不开启，想开启该项将该行最前面的#号删除即可。
#- 'Hbomax'
#- 'Bahamut'
#netflixurl: "https://www.netflix.com/title/80113701"  #自定义奈飞非自制剧检测网页，注意在更换此链接时请确保是非自制的链接。
#proxyport: 7890 # 此为旧版代理设置，用于TGbot通讯，现已不推荐使用。
#bot:
# proxy: "host:端口" #socks5代理，已和下面的proxy单独分离，请勿混用
# strictmode: false # 严格模式，代表测试的时侯，bot内联按钮只有发起测试的主人才能按，否则所有用户用户权限都可以按。默认false，目前未适配，敬请期待。
#proxy: "host:端口" # http配置代理(非socks5)，用于下载获取订阅链接，订阅链接国内打不开可尝试开启（可选配置）,本机提供的代理可以这样填: '127.0.0.1:7890'
#geoip-api: "ip-api.com" # GEOIP 测试api ，取二级域名,目前支持 ip-api.com ip.sb 两种
#subconvertor: #订阅转换
# enable: true #是否启用
# host: '127.0.0.1:25500' #域名或者ip加端口
# remoteconfig: "https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/config/ACL4SSR_Online.ini" #远程配置
#speedfile: "https://dl.google.com/dl/android/studio/install/3.4.1.0/android-studio-ide-183.5522156-windows.exe" #自定义测速文件
#speedthread: 4 #测速线程
#user: 12345678 #用户列表，/grant 命令授权的目标会保存在这（可选配置）
#emoji: true # 是否启用emoji，若否，则在输出图片时emoji将无法正常显示。关闭该项可解决部分图片生成失败的问题。（可选配置）
#clash:
# path: './resources/clash-linux-amd64' # clash核心的位置,此样例为linux-amd64配置样例，windows可以不配置该项（可选配置）
# workpath: './clash' # clash的工作目录，工作目录这里指的是clash读取配置文件的目录，请勿与操作系统上的概念混淆（可选配置）
# core: 4 # 核心数，数量越多测试速度越快，但代价是内存会大量占用(每个核心大概10M)，自己的机子多少内存自己平衡
#font: './resources/苹方黑体-准-简.ttf' #自定义字体，这里填字体的路径
# 以下是颜色配置，其中speed是速度相关,name为颜色名字，value为颜色值，目前仅支持十六进制，label是颜色对应的速度区间（单位MB）,不用动，只需改value值，其他项是为了做区分。
#color:
# speed: # 刚刚好有七个颜色，多一个少一个可能会有奇怪的效果。注意缩进。如果不想有太多颜色，可以两个颜色取同样的颜色值。
#  - { label: 0, name: '云水', value: '#B4C3D0' }
#  - { label: 1, name: '晴山', value: '#91AEC4' }
#  - { label: 5, name: '秋波', value: '#8BB8CB' }
#  - { label: 10, name: '天韵', value: '#5796B3' }
#  - { label: 20, name: '鸢尾', value: '#1988AE' }
#  - { label: 60, name: '甸子', value: '#238BBC' }
#  - { label: 100, name: '景泰', value: '#2A73AC' }
# delay: #延迟单位: ms
#  - { label: 1, name: '云水', value: '#B4C3D0' }
#  - { label: 100, name: '晴山', value: '#91AEC4' }
#  - { label: 200, name: '秋波', value: '#8BB8CB' }
#  - { label: 300, name: '天韵', value: '#5796B3' }
#  - { label: 500, name: '鸢尾', value: '#1988AE' }
#  - { label: 1000, name: '甸子', value: '#238BBC' }
#  - { label: 2000, name: '景泰', value: '#2A73AC' }
#  - { label: 99999, name: '景泰', value: '#8d8b8e' }  #第八个为超时，label无用

